@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
   --color-bg-primary: #101828;
   --color-bg-secondary: #667085;
   --color-accent: #7f56d9;
   --color-text-primary: #ffffff;
   --color-text-secondary: #667085;
   --color-text-muted: #f9fafb;

   --font-family-primary: "Inter", sans-serif;
   --font-size-heading-xl: 48px;
   --font-size-heading: 20px;
   --font-size-body: 16px;
   --font-size-small: 12px;
   --font-weight-regular: 400;
   --font-weight-bold: 700;

   --spacing-xs: 12px;
   --spacing-sm: 14px;
   --spacing-md: 16px;
   --spacing-lg: 20px;
   --spacing-xl: 32px;
   --spacing-xxl: 131px;

   --height-xl: 80px;
   --height-md: 48px;
   --height-sm: 60px;
   --max-width-container: 700px;

   --radius-sm: 4px;
   --radius-md: 8px;
   --radius-lg: 16px;
   --radius-full: 9999px;
}

html {
   scroll-behavior: smooth;
}
